<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action ='/create' method='post'>
	<div> Your Name: <input type='text' name='name'></div>
	<div> Dojo Location 
	<select name='location'>
		<option>Seattle </option>
		<option> New York </option>
		<option> California</option>
	</select></div>
	<div> Favorite Language: 
	<select name ='language'>
		<option> Python</option>
		<option> JavaScript </option>
		<option> Ruby </option>	
	</select></div>
	<p> Comment (optional) <textarea name='comment'></textarea></p>
	<p><input type='submit' name='submit'></p>
</form>

</body>
</html>