<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h3> Submitted Information </h3>
	<p> Name:  <%= data.name %> </p>
	<p> Dojo Location: <%= data.location %> </p>
	<p> Favorite Language  <%= data.language %> </p>
	<p> Comment <%= data.comment %>  </p>

	<form action ='/' method = 'get'>
		<input type='submit'  value='Go Back'>
	</form>

</body>
</html>